
 .form-group {
  width: 300px; height: 40px; border-radius: 10px; border: 3px solid pink;
} 
.App{
  text-align: center; position: relative; top: 60px;
}
.space{
  font-size: 30px; position: relative; right: 100px; top: 15px;
}
.space1{
  position: relative; right: 10px; top: -25px;
}
.space2{
  position: relative; top: -25px; right: -15px;
}
.position{
  position: relative; left: 45px; top: 15px;
}
.position1{
  position: relative; left: 70px; top: 15px;
}
.position2{
  position: relative; left: 55px; top: 15px;
}